body { background: #291cab; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 19px; display: flex; }
.block-session-0 { color: #6dfc37; font-size: 18px; margin-bottom: 5px; }
.block-uploader-1 { color: #57731; font-size: 21px; margin-bottom: 5px; }
.block-search-2 { color: #fe8dd4; font-size: 18px; margin-bottom: 5px; }
.block-search-3 { color: #909ee7; font-size: 20px; margin-bottom: 5px; }
.block-cache-4 { color: #b5dc3; font-size: 16px; margin-bottom: 5px; }